body {
  background-image: url(/good\(4\).jpg);
  background-size: 100%;
  }
  
.continuar{
    background-color: rgb(255, 0, 0);
    bottom: center;
}

  h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ff0000;
  }
  
  button{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
